<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <!-- IE 兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="墨荷琼林官网,是一个学习IT知识,分享IT知识的平台。"/>
    <meta name="keywords" content="moheqionglin,墨荷琼林,墨荷琼林官网,学习IT知识,分享IT知识,平台,moheqionglin官网,墨荷琼林万里,墨荷琼林周万里,墨荷 琼林"/>
    <meta name="author" content="">
    <!-- 国产浏览器高速模式 -->
    <meta name="renderer" content="webkit">
    <link rel="icon" href="/images/favicon.ico">

    <title>墨荷琼林官网-编程日志</title>
    <!-- build:cssLibBlogList ../../stylesheets/dist/lib-blog-list.min.css -->
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../bower_components/bootstrap-offcanvas/dist/css/bootstrap.offcanvas.min.css"/>
    <!-- endbuild -->

    <!-- Custom styles for this template -->
    <link href="/stylesheets/main.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/javascripts/bootstrap/vender/html5shiv.min.js"></script>
    <script src="/javascripts/bootstrap/vender/respond.min.js"></script>
    <![endif]-->
</head>
<body >
{% import '../common/_header.html' as headerNav %}
{% import "../common/_result-list-item.html" as resultListItem %}
{% import "../common/_pagination.html" as pagationTool %}
{% import '../common/_breadCrumb.html' as breadCrumb %}
{{headerNav.headerNav('blogs', authUser)}}
<div class="container blog-page" >
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            {%set breadcrumbData = [{title: '编程日志'}]%}
            {{breadCrumb.breadcrumb(breadcrumbData)}}

            {% for blog in blogs.rows%}
                {{resultListItem.resultListDisplay(blog)}}
            {% endfor %}
            <div class="row">
                <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    {{ pagationTool.pagation('/site/blogs/^^/list.html', blogs.totalPage, blogs.currentPage)}}
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            {% include "../common/_right_side_self_introduce.html" %}
        </div>
    </div>
</div>
{% include '../footer/_footer.html'%}

<!-- build:jsLibBlogList ../../javascripts/dist/lib-blog-list.min.js -->
<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../bower_components/bootstrap/js/dropdown.js"></script>
<script src="../../bower_components/bootstrap-offcanvas/dist/js/bootstrap.offcanvas.min.js"></script>
<!-- endbuild -->

<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https'){
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else{
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
</body>
</html>