.edit-blog{
  .search-input{
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .blog-list-mohe-popover{
    float: right;
    mohe-popover-btn{
      color: $border-gray;
    }
  }
  .list-group-item{
    cursor: pointer;
    color: $color-green;
  }
  .new-blog-label{
    float: right;
    font-size: 12px;
  }
  select{
    height: 35px;
    font-size: 14px;
    color: $color-green;
    margin-right: 20px;
    &:last-child{
      margin-right: 0;
    };
    option{
      height: 35px;
      font-size: 14px;
      color: #1ABC9C;
      margin-top:20px;
    }
  }
}