export MOHE_ENV=PROD
export PRODUCTION_DB='moheweb'
export PRODUCTION_USERNAME='root'
export PRODUCTION_PASSWORD=''
export PRODUCTION_DB_HOST='localhost'
export weibo_clientId=
export weibo_clientSecret=
export weibo_redirectUri=
export github_clientId=
export github_redirectUri=
export github_clientSecret=
export qq_clientId=
export qq_redirectUri=
export qq_clientSecret=
export facebook_clientId=
export facebook_redirectUri=
export facebook_clientSecret=