export MOHE_ENV=PROD
export PRODUCTION_DB='moheweb'
export PRODUCTION_USERNAME='root'
export PRODUCTION_PASSWORD=''
export PRODUCTION_DB_HOST='localhost'
export weibo_clientId=
export weibo_clientSecret=
export weibo_redirectUri=
