<article class="edit-blog">
    <aside class="left-side">
        <div class="input-group">
           <input type="text" class="form-control" placeholder="请输入 blog ID">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">搜索</button>
            </span>
        </div>
        <mohe-pagiation></mohe-pagiation>
    </aside>

    <div class="blog-content">
        <!--<textarea simplemde="{default:'asdfasdf'}" ng-model="text"></textarea>-->
        <mohe-markdown-editor></mohe-markdown-editor>
    </div>

</article>