.edit-serilazes{
  .new-serilazes-label{
    float: right;
    font-size: 12px;
  }
  .blog-list-mohe-popover{
    float: right;
    mohe-popover-btn{
      color: $border-gray;
    }
  }
  .list-group-item{
    cursor: pointer;
    color: $color-green;
  }
}