@import "common/variables";
@import "font/font";

@import "base/body";

.color-logo-cyan{
  color: $color-logo-cyan;
}
.color-logo-green{
  color: $color-logo-green;
}
.color-white {
  color:$color-white;
}
.color-gray{
  color: $color-gray;
}
.color-green{
  color: $color-green ;
};
.color-grayer{
  color: $color-grayer;
};
.border-gray{
  color: $border-gray;
};
.font-gray{
  color: $font-gray;
};
.color-black{
  color: $color-black;
};
.color-danger{
  color:$state-danger-text;
}
.cursor-pointer{
  cursor: pointer;
};
.well{
  background-color: hsla(0,0%,71%,.1);
  border-radius: 5px;
  box-shadow:none;
  -webkit-box-shadow:none;
  margin-top: 55px;
  margin-bottom: 55px;
}
.hr-gray{
  height: 1px;
  background-color: $border-gray;
}