.navbar{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
//.navbar-nav li a {
//  font-weight: 400;
//}
.jumbotron {
  background: url("http://opkhviyav.bkt.clouddn.com/image/test/index-body-bg.jpg");
}

.inner {
  padding-top: 100px;
}
.mohe-index-page-contact {
  margin: 0;
  padding: 0;
  text-align: center;
}
.mohe-index-page-contact a {
  font-size: 25px;
  width: 55px;
  height: 55px;
  line-height: 55px;
  display: inline-block;
  text-align: center;
  margin: 0 15px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.mohe-jumbotron{
  h1, h3{
    color: #ffffff;
  }
}
.index-page{
  .result-list-item{
    border-bottom: 1px dashed $border-gray;
    &:last-child{
      border-bottom:none;
    }
  }
}