.about-page{
  margin-top: $content-to-header-maring;
  img{
    width: 100%;
  }
  p{
    color: $font-gray;
    word-spacing: 1px;
    line-height: 25px;
    font-size: 14px;
    margin-top: 20px;
  }
  .inner-title{
    margin-bottom: 30px;
    margin-top:30px;
  }
  .about-content{
    padding-left: 20px;
    padding-right: 80px;
  }
}