.article{
  font-size: 16px;
  color: $color-black;
  p{
    font-size: 16px;
    color: $color-black;
  }
  .title{
    font-size: 24px;
  }
  .meta-data{
    .introduction{
      font-size: 14px;
      color: $font-gray;
      text-indent: 28px;
    }
    .result-list-attribute{
      padding-left: 0;
      li{
        display: inline-block;
        margin-left: 25px;
        font-size:12px;
        color: $font-gray;
        &:first-child{
          margin-left: 0;
        }
      }
    }
  }
  .image{
    margin-top: $content-to-header-maring;
    margin-bottom: $content-to-header-maring;
    img{
      width: 100%;
    }
  }
  .share{
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 30px;
    padding-left: 0;
    li{
      width: 45px;
      height: 45px;
      border: 1px solid $border-gray;
      display: inline-block;
      line-height: 45px;
      border-radius: 50%;
      font-size: 22px;
      margin-left: 15px;

    }
  }
}