.author-article-detail-item{
  .author-img{
    img{
      border-radius: 50%;
      border: 1px solid $border-gray;
    }
  }
  .article-meta{
    color: $font-gray;
  }
  .author-article-title{
    h1{
      font-size: 18px;
      color: $color-green;
    }
    margin-bottom: 10px;
  }
}