.result-list-display{
  width: 100%;
  margin: 20px 0;
  padding-top: 20px;
  padding-bottom: 20px;
  .result-list-img{
    img{
      width: 100%;
    }
  }
  .result-list-metadata{
    .result-list-title{
      margin-top:5px;
      font-size:18px;
    }
    //.result-list-introduction{
    //}
    .result-list-attribute{
      padding-left:0;
      li{
        text-align: center;
        display: inline-block;
        margin-right: 45px;
        &:last-child{
          margin-right: 0;
        }
      }

    }
  }
}