<div class="edit-blog row">
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading text-center">编辑
                <label class="new-blog-label"><a href="javascript:void(0);" ng-click="createArticle()"><span class="glyphicon glyphicon-plus" ></span>&nbsp;新建</a></label>
            </div>
            <div class="panel-body">
                <div class="input-group search-input">
                    <input type="text" class="form-control " ng-model="keyWord" placeholder="请输入 blog ID/catalog num">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="search()" type="button">搜索</button>
                    </span>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-class="{'active' : article.id === selectedArticleId}"
                        ng-click="selectedArticleTitle(article)" ng-repeat="article in articles">
                        {{article.title}}
                        <mohe-popover class="blog-list-mohe-popover" ng-show="article.id === selectedArticleId">
                            <mohe-popover-btn>
                                <span class="glyphicon glyphicon-cog"></span>
                            </mohe-popover-btn>
                            <mohe-popover-content>
                                <ul class="edit-blog-popver-menu">
                                    <li><a href="#"><span class="glyphicon glyphicon-trash"></span>&nbsp;删除文章</a></li>
                                    <li><a href="javascript:void(0);" ng-click="editArticle(article)"><span class="glyphicon glyphicon-trash"></span>&nbsp;编辑文章</a></li>
                                </ul>
                            </mohe-popover-content>
                        </mohe-popover>
                    </li>
                </ul>

            </div>
        </div>


    </div>

    <div class="col-lg-9">
        <form class="form-horizontal">
            <div class="form-group">
                <label  class="col-sm-2 control-label text-left">文章位置</label>
                <div class="col-sm-10">
                    <ol class="breadcrumb" ng-if="!createArticleFlag">
                        <li ><a href="javascript:void(0);">{{article.collectionType}}</a></li>
                        <li ng-if="article.bookName" title="{{article.catalogNum}}"><a href="javascript:void(0);">{{article.bookName}}</a></li>
                        <li ng-if="article.h1Name" title="{{article.catalogNum}}"><a href="javascript:void(0);">{{article.h1Name}}</a></li>
                        <li ng-if="article.h2Name" title="{{article.catalogNum}}"><a href="javascript:void(0);">{{article.h2Name}}</a></li>
                        <li ng-if="article.h3Name" title="{{article.catalogNum}}"><a href="javascript:void(0);">{{article.h3Name}}</a></li>
                    </ol>

                    <ol class="breadcrumb" ng-if="createArticleFlag">
                        <li >
                            <select ng-model="createdArticle.collectionType" ng-change="generateSubCatalog('collection')">
                                <option value="BLOG">编程日志</option>
                                <option value="01">跟我读书</option>
                                <option value="02">连载教程</option>
                            </select>
                        </li>
                        <li ng-if="createdArticle.collectionType == '01' || createdArticle.collectionType == '02'" >
                            <select ng-model="createdArticle.catalogBook" ng-hide="showCreatedName" ng-change="generateSubCatalog('book')">
                                <option ng-repeat="bookCatalog in bookCatalogs" value="{{bookCatalog.catalogNum}}">{{bookCatalog.title}}</option>
                            </select>
                            <input type="text" ng-model="article.title"  ng-show="showCreatedName">
                            <a href="javascript:void(0);" ng-click="showCreatedNameInput()"  ng-hide="showCreatedName"><span class="glyphicon glyphicon-plus" ></span>&nbsp;新增</a>
                        </li>
                        <li ng-show="displayH1()" >
                            <select ng-model="createdArticle.catalogH1" ng-change="generateSubCatalog('h1')" ng-hide="showCreatedH1">
                                <option ng-repeat="catalogH1 in catalogH1s" value="{{catalogH1.catalogNum}}">{{catalogH1.title}}</option>
                            </select>
                            <input type="text" ng-model="article.title"  ng-show="showCreatedH1">
                            <a href="javascript:void(0);" ng-click="showH1Input()"   ng-hide="showCreatedH1"><span class="glyphicon glyphicon-plus" ></span>&nbsp;新增</a>
                        </li>
                        <li ng-show="displayH2()" >
                            <select ng-model="createdArticle.catalogH2" ng-change="generateSubCatalog('h2')" ng-hide="showCreatedH2">
                                <option ng-repeat="catalogH2 in catalogH2s" value="{{catalogH2.catalogNum}}">{{catalogH2.title}}</option>
                            </select>
                            <input type="text" ng-model="article.title"  ng-show="showCreatedH2">
                            <a href="javascript:void(0);" ng-click="showH2Input()"  ng-hide="showCreatedH2"><span class="glyphicon glyphicon-plus" ></span>&nbsp;新增</a>
                        </li>
                        <li ng-show="displayH3()" >
                            <select ng-model="createdArticle.catalogH3" ng-hide="showCreatedH3">
                                <option ng-repeat="catalogH3 in catalogH3s" value="{{catalogH3.catalogNum}}">{{catalogH3.title}}</option>
                            </select>
                            <input type="text" ng-model="article.title"  ng-show="showCreatedH3">
                            <a href="javascript:void(0);" ng-click="showH3Input()"  ng-hide="showCreatedH3"><span class="glyphicon glyphicon-plus" ></span>&nbsp;新增</a>
                        </li>
                    </ol>


                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label text-left">文章标题(32字)</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  ng-model="article.title" size="32"  placeholder="输入文章标题,最长只支持32个字符">
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label text-left">文章概要(128字)</label>
                <div class="col-sm-10">
                    <textarea type="text" rows="3" cols="62"  ng-model="article.introduction" class="form-control" placeholder="输入文章概要,最长只支持128个字符">
                    </textarea>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label text-left">关键词(256字)</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  ng-model="article.keyWord" size="32"  placeholder="输入文章关键词,最长只支持32个字符">
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label text-left">文章封面</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  ng-model="article.image" size="32"  placeholder="输入图片URL...">
                </div>
            </div>
            <label>文章正文</label>
            <mohe-markdown-editor content="article.content" callback="submitArticle(content)"></mohe-markdown-editor>
        </form>

    </div>

</div>