$body-bg: #fff;
$color-logo-cyan: #49CCED;
$color-logo-green: #63B500;
$color-logo-yellow: #DFBE02;
$color-white : #fff;
$color-gray  : #34495E;
$color-green : #1ABC9C;
$color-grayer: #2f4154;
$border-gray : #d5dbdb;
$font-gray: #8C9398;
$color-black: #000;

$content-to-header-maring: 35px