<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <!-- IE 兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- 国产浏览器高速模式 -->
    <meta name="renderer" content="webkit">
    <link rel="icon" href="/images/favicon.ico">

    <title>墨荷琼林官网-关于</title>
    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/bower_components/bootstrap-offcanvas/dist/css/bootstrap.offcanvas.min.css"/>
    <!-- Custom styles for this template -->
    <link href="/stylesheets/main.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/javascripts/bootstrap/vender/html5shiv.min.js"></script>
    <script src="/javascripts/bootstrap/vender/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% include '../common/_header.html' %}
{% import '../common/_breadCrumb.html' as breadCrumb%}
<div class="container about-page" >
    <div class="row">
        {%set breadcrumbData = [{title: '关于'}]%}
        {{breadCrumb.breadcrumb(breadcrumbData)}}

        <div class="col-md-12">
            <h1 class="inner-title text-center">About Me</h1>
        </div>
        <div class="col-md-4">
            <img src="/images/about.jpg">
        </div>
        <div class="col-md-8 about-content">
            <p>I'm a coffee drinking designer &amp; front-end developer based in Derby, UK, designing user-friendly interfaces with simplicity and beauty in mind for clients in the UK and around the world.</p>

            <p>On the digital side, using HTML5 and CSS3 I can create anything from a small static site, to a custom theme built for Wordpress. All projects are produced with SEO in mind making sure you have a great foundation to build on when it comes to being found in Google. I build sites that do not just look good on your desktop PC, but are also fully responsive so it looks and works great on all tablet devices and phones too.</p>
            <p>If you need more than just a website then I can also help with branding and any print needs you may have. From business cards and stationery through to brochures and signs, I can help. With many years of experience in print design I can give your brand a refresh or produce your latest company brochure.</p>
            <p>Whatever your needs and goals do get in touch and I can advise how I can help you take this forward. If you would like to discuss your project or would just like to say hello then do get in touch and <a href="/footer/contact.html">drop me a message</a>.</p>
        </div>
    </div>
</div>
{% include './_footer.html'%}
<!--待删除-->
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap-offcanvas/dist/js/bootstrap.offcanvas.js"></script>
<script src="/bower_components/bootstrap/js/dropdown.js"></script>
</body>
</html>