<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <!-- IE 兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="墨荷琼林官网,是一个学习IT知识,分享IT知识的平台。"/>
    <meta name="keywords" content="moheqionglin,墨荷琼林,墨荷琼林官网,学习IT知识,分享IT知识,平台,moheqionglin官网,墨荷琼林万里,墨荷琼林周万里,墨荷 琼林"/>
    <meta name="author" content="">
    <!-- 国产浏览器高速模式 -->
    <meta name="renderer" content="webkit">
    <link rel="icon" href="/images/favicon.ico">

    <title>墨荷琼林官网-关于</title>
    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/bower_components/bootstrap-offcanvas/dist/css/bootstrap.offcanvas.min.css"/>
    <!-- Custom styles for this template -->
    <link href="/stylesheets/main.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/javascripts/bootstrap/vender/html5shiv.min.js"></script>
    <script src="/javascripts/bootstrap/vender/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% import '../common/_header.html' as headerNav%}
{% import '../common/_breadCrumb.html' as breadCrumb%}
{{headerNav.headerNav('', authUser)}}
<div class="container about-page" >
    <div class="row">
        {%set breadcrumbData = [{title: '关于'}]%}
        {{breadCrumb.breadcrumb(breadcrumbData)}}

        <div class="col-md-12">
            <h1 class="inner-title text-center">About Me</h1>
        </div>
        <div class="col-md-4">
            <img src="http://image.moheqionglin.com/image/website/about.jpg">
        </div>
        <div class="col-md-8 about-content">
            <p> 周万里, 1990年出生。毕业于合肥工业大学, 目前就从事跨境电商工作。一枚编程狂热分子。做过一段时间企业级应用,玩过几年大数据. 现在热衷于微服务架构方面知识。过想了解更过站主动态可以关注本人的微博或者github。</p>
        </div>
    </div>
</div>
{% include './_footer.html'%}
<!--待删除-->
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap-offcanvas/dist/js/bootstrap.offcanvas.js"></script>
<script src="/bower_components/bootstrap/js/dropdown.js"></script>
</body>
</html>