<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <!-- IE 兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- 国产浏览器高速模式 -->
    <meta name="renderer" content="webkit">
    <link rel="icon" href="/images/favicon.ico">

    <title>墨荷琼林官网-联系我</title>
    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/bower_components/bootstrap-offcanvas/dist/css/bootstrap.offcanvas.min.css"/>
    <!-- Custom styles for this template -->
    <link href="/stylesheets/main.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/javascripts/bootstrap/vender/html5shiv.min.js"></script>
    <script src="/javascripts/bootstrap/vender/respond.min.js"></script>
    <![endif]-->
</head>
<body class="contact-page">
{% include '../common/_header.html' %}
<section class="features section-padding" id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center"><i class="icon-paper-plane-empty"></i></h2>
                <h2 class="inner-title text-center">CONTACT ME</h2>
            </div>
            <div class="col-md-6 col-md-offset-3 text-center">
                <p>Whatever your needs and goals get in touch and I can advise how I can help you take this forward. If you would like to discuss your project or would just like to say hello then do get in touch and drop me a message below.</p>
            </div>
        </div>
    </div>
</section>
<section class="intro text-center section-padding" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="inner-title">CONTACT WAYS</h3>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <dl>
                    <dt><i class="icon-mail"></i>EMAIL :</dt>
                    <dd><a href="mailto:zhouwanli2009@yeah.net">墨荷琼林</A></dd>
                </dl>
            </div>
        </div>
    </div>
</section>
{% include './_footer.html'%}
<!--待删除-->
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap-offcanvas/dist/js/bootstrap.offcanvas.js"></script>
<script src="/bower_components/bootstrap/js/dropdown.js"></script>
</body>
</html>