<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <!-- IE 兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="墨荷琼林官网,是一个学习IT知识,分享IT知识的平台。"/>
    <meta name="keywords" content="moheqionglin,墨荷琼林,墨荷琼林官网,学习IT知识,分享IT知识,平台,moheqionglin官网,墨荷琼林万里,墨荷琼林周万里,墨荷 琼林"/>
    <meta name="author" content="">
    <!-- 国产浏览器高速模式 -->
    <meta name="renderer" content="webkit">
    <link rel="icon" href="/images/favicon.ico">

    <title>墨荷琼林官网-赞助</title>
    <!-- build:cssLibSponsor ../../stylesheets/dist/lib-sponsor.min.css -->
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../bower_components/bootstrap-offcanvas/dist/css/bootstrap.offcanvas.min.css"/>
    <!-- endbuild -->

    <!-- Custom styles for this template -->
    <link href="/stylesheets/main.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/javascripts/bootstrap/vender/html5shiv.min.js"></script>
    <script src="/javascripts/bootstrap/vender/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% import '../common/_breadCrumb.html' as breadCrumb%}
{% import '../common/_header.html' as headerNav%}
{{headerNav.headerNav('', authUser)}}
<div class="container sponsor-page">
    {%set breadcrumbData = [{title: '慷慨赞助'}]%}
    {{breadCrumb.breadcrumb(breadcrumbData)}}
    <form class="sponsor-form">
        <div class="form-group author-img text-center"></div>
        <div class="form-group main-inputs text-left">
            <div class="control-group message">
                <h4 >如果您认为本网站的分享的知识质量不错，感觉从中学到了很多。无论是自己的薪水还是自己的职位都有所上升的话,不妨小额赞助下站主,来维持网站的基本费用,写出更多精彩的文章。</h4>
            </div>
        </div>
        <div class="form-group choose-pay text-center">
            <label class="text-center">打赏方式</label>
            <div class="method row">
                <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6 text-center">
                    <img src="http://image.moheqionglin.com/image/website/weixin-sponsor.gif" class="day wechat">
                    <br/>
                    微信
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6 text-center">
                    <img src="http://image.moheqionglin.com/image/website/ali-sponsor.gif" class="day alipay">
                    <br/>支付宝
                </div>
            </div>
        </div>
    </form>
</div>
{% include './_footer.html'%}
<!-- build:jsLibSponsor ../../javascripts/dist/lib-sponsor.min.js -->
<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../bower_components/bootstrap/js/dropdown.js"></script>
<script src="../../bower_components/bootstrap-offcanvas/dist/js/bootstrap.offcanvas.min.js"></script>
<!-- endbuild -->
</body>
</html>