<div class="edit-books rows">
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <a class="collapsed" role="button" data-toggle="collapse" href=".booksCollapseList" aria-expanded="true" aria-controls="booksCollapseList">图书</a>
                <label class="new-books-label"><a href="#"><span class="glyphicon glyphicon-plus" ></span>&nbsp;新建</a></label>
            </div>
            <div class="booksCollapseList" class="panel-collapse collapse panel-body" role="tabpanel" aria-labelledby="booksCollapseList" aria-expanded="true">
                <ul class="list-group">
                    <li class="list-group-item" ng-class="{'active' : book.id === selectedBookId}" ng-click="selectedBooksTitle(book)" ng-repeat="book in books">
                        {{book.title}}
                        <mohe-popover class="blog-list-mohe-popover" ng-show="book.id === selectedBookId">
                            <mohe-popover-btn>
                                <span class="glyphicon glyphicon-cog"></span>
                            </mohe-popover-btn>
                            <mohe-popover-content>
                                <ul class="edit-blog-popver-menu">
                                    <li><a href="#"><span class="glyphicon glyphicon-trash"></span>&nbsp;删除图书</a></li>
                                </ul>
                            </mohe-popover-content>
                        </mohe-popover>
                    </li>
                </ul>

                <mohe-pagination></mohe-pagination>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <a class="collapsed" role="button" data-toggle="collapse" href=".booksCatalogList" aria-expanded="true" aria-controls="booksCatalogList">目录</a>
            </div>
            <div class="booksCatalogList" class="panel-collapse collapse panel-body" role="tabpanel" aria-labelledby="booksCatalogList" aria-expanded="true">
                <mohe-tree data="data"></mohe-tree>
            </div>
        </div>
    </div>

    <div class="col-lg-9">
        <mohe-article></mohe-article>
    </div>
</div>