<div class="article">
    <div class="image text-center"><img src="{{article.image}}"></div>
    <h1 class="title text-center">{{article.title}}</h1>
    <div class="meta-data">
        <h2 class="introduction ">{{article.introduction}}</h2>
        <ul class="result-list-attribute text-center">
            <li><i class="icon-calendar"></i>{{article.createdAt | dataParse}}</li>
            <li><i class="icon-eye"></i>{{article.readCount}}</li>
        </ul>
    </div>
    <ul class="share text-center">
        分享至:
        <li class="text-center"><a href="#" data-toggle="modal" data-target="#qr-code-modal"> <i class="icon-wechat" ></i></a></li>
        <li class="text-center"><a href="http://weibo.com/moheqionglin" target="_blank"><i class="icon-weibo"></i></a></li>
        <li class="text-center"><a href="#" data-toggle="modal" data-target="#qr-code-modal"> <i class="icon-qrcode" ></i></a></li>
    </ul>
    <div class="content text-justify">
        {{article.content | safe}}
    </div>
    <div class="well text-center">
        <strong>如果觉得我的文章对您有用，请随意打赏。您的支持将鼓励我继续创作！</strong>
        <hr >
        <a class="btn btn-default btn-lg color-green" href="/footer/sponsor.html">慷慨打赏</a>
    </div>
    <ul class="share text-center divider-top">
        分享至:
        <li class="text-center"><a href="#" data-toggle="modal" data-target="#qr-code-modal"> <i class="icon-wechat" ></i></a></li>
        <li class="text-center"><a href="http://weibo.com/moheqionglin" target="_blank"><i class="icon-weibo"></i></a></li>
        <li class="text-center"><a href="#" data-toggle="modal" data-target="#qr-code-modal"> <i class="icon-qrcode" ></i></a></li>
    </ul>
    {%if(authUser)%}
        <div class="article-comment ">
            <div class="form-group">
                <label  >评论标题</label>
                <input type="text" class="form-control"  placeholder="标题">
            </div>
            <div class="form-group">
                <label>评论内容</label>
                <textarea name="text"></textarea>
            </div>
            <div class="text-center">
                <a href="javascript:void(0);" onclick="submitArticleComment(this)"><i class="icon-reply-outline"></i> 评论文章</a>&nbsp;&nbsp;&nbsp;&nbsp;<span class="result-message"></span>
                {%if article.topicCount %}
                    <a href="javascript:loadTopic()" >加载评论(共{{article.topicCount}}条)</a>
                {%endif%}
            </div>
        </div>
    {%else%}
        <div class="article-comment text-center">
            <script type="text/javascript">
                document.write('<a href="/site/authenticate/login?forward=' + window.location.pathname + '"><i class="icon-reply-outline"></i>登录发表评论</a>');
            </script>
        </div>
    {%endif%}

    <div class="article-topic-div"></div>
</div>
<div class="modal fade" id="qr-code-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">分享微信</h4>
            </div>
            <div class="modal-body text-center">
                <h5>打开微信"扫一扫"，打开网页后点击屏幕右上角分享按钮</h5>
                <div id="placeHolder"></div>
            </div>
        </div>
    </div>
</div>
