{% macro commentItem(index='', authorImg='', articleTitle='', articleContent='', authorName='', articleTime='') %}
<div class="media divider-bottom-dashed comment-item">
    <div class="pull-left media-middle author-img">
        <img class="media-object" src="{{authorImg}}">
    </div>
    <div class="media-body comment-title">
        <h1 class="media-heading">{{articleTitle}}</h1>
        <small class="comment-meta">#{{index + 1}} {{authorName}}.{{articleTime}}</small>
        <p>{{articleContent}}</p>
    </div>
</div>
{% endmacro %}