{% import "./_comment_child_item.html" as commentItem %}
<div class="media comment-item">
    <div class="pull-left media-middle author-img">
        <img class="media-object" src="{{topic.user.image}}">
    </div>
    <div class="media-body comment-title">
        <h1 class="media-heading"><a href="#">{{topic.title}}</a> </h1>
        <small class="comment-meta"> {{topic.user.name}}.{{topic.createdAt |dataParse }}</small>
        <p>{{topic.content}}</p>
        {% for comment in topic.commentLists%}
            {{commentItem.commentItem(comment)}}
        {% endfor %}
    </div>
    <div class="text-center comment-action-grp">
        <a href="/site/answer/1/detail.html"><i class="icon-list-bullet"></i> 查看全部</a>
        <a href="#"><i class="icon-reply-outline"></i> 回复评论</a>
    </div>
</div>