{% macro commentItem(comment) %}
<!--index='', authorImg='', articleTitle='', articleContent='', authorName='', articleTime=''-->
<!--i, img, '怎么才能写好面向对象的js','文章正文文章正文文章正文文章正文文章正文文章正文文章正文文章正文' , '沧海一粟', '3小时前'-->
<div class="media divider-bottom-dashed comment-item">
    <div class="pull-left media-middle author-img">
        <img class="media-object" src="{{comment.user.image}}">
    </div>
    <div class="media-body comment-title">
        <small class="comment-meta">{{comment.user.name}}.{{comment.createdAt | dataParse}}</small>
        <p>{{comment.content}}</p>
    </div>
</div>
{% endmacro %}