<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="legals">
                    <li><a href="contact.html">联系</a></li>
                    <li><a href="./footer/about.html">关于</a></li>
                    <li><a href="sponsor.html">打赏</a></li>
                </ul>
                <div class="line"> </div>
                <ul class="legals social">


                    <li><a href="#" target="_blank"><i class="icon-wechat" ></i> </a></li>
                    <li><a href="http://weibo.com/moheqionglin" target="_blank"> <i class="icon-weibo"></i> </a></li>
                    <li><a href="https://github.com/moheqionglin" target="_blank"><i class="icon-github-squared"></i></a></li>
                </ul>
                <p class="copy">© 2016 · wanli zhou · All Rights Reserved</p>
                <a href="http://www.miitbeian.gov.cn">豫ICP备16039291号</a>
            </div>
        </div>
    </div>
</footer>