
<div class="row grid-list-row">
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-10 grid-list-item">
        <a href="/site/books/book-detail.html">
            <div class="book-img"><img src="http://opkhviyav.bkt.clouddn.com/image/test/b1.jpg"></div>
            <h2 class="book-name">软技能代码之外的生存技能</h2>
            <p>这本书是美国的一个软件开发人员写的，但是书中除了有Java、C#几个单词外，没有一行代码，因为这本书讲的是代码之外的东西。</p>
        </a>
        <div class="text-center"><a href="/site/books/book-detail.html" class="read-more"><i class="icon-plus"></i>阅读</a></div>
        <hr class="line">
        <div class="text-center"><span>234篇文章.237人阅读</span></div>
    </div>
    <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-10 grid-list-item">
        <a class="uk-panel tm-panel-link" href="/site/books/book-detail.html" style="min-height: 136px;">
            <div class="book-img"><img src="http://opkhviyav.bkt.clouddn.com/image/test/b1.jpg"></div>
            <h2 class="book-name">高性能网站建设指南</h2>
            <p>结合Web2.0以来Web开发领域的最新形势和特点，介绍了网站性能问题的现状、产生的原因，以及改善或解决性能问题的原则。</p>
        </a>
        <div class="text-center"><a href="/site/books/book-detail.html" class="read-more"><i class="icon-plus"></i>阅读</a></div>
        <hr class="line">
        <div class="text-center"><span>234篇文章.237人阅读</span></div>
    </div>
</div>