<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" id="" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#"><img src="../public/images/logo.gif" style="width:150px"/></a></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#fakelink">编程日志</a></li>
                <li><a href="#fakelink">跟我读书</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">连载教程<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Java SE教程</a></li>
                        <li><a href="#">Java EE教程</a></li>
                        <li><a href="#">JavaScript教程</a></li>
                        <li class="divider"></li>
                        <li  ><a href="#">node教程</a></li>
                    </ul>
                </li>
                <li><a href="#fakelink">墨荷问答</a></li>
                <li><a href="#fakelink">慷慨赞助</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">墨荷琼林<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

