{% macro pagation(url, totalPage, currentPage)%}
{%set totalPage = totalPage| int%}
{%set currentPage = currentPage| int%}
<nav aria-label="Page navigation">
    <ul class="pagination">
        {%if totalPage == 1 %}<li class="disabled">{%else%}<li>{%endif%}
            <a href="{{url | replace('^^', 1)}}" aria-label="Previous">
                <span aria-hidden="true">首页</span>
            </a>
        </li>
        {%if totalPage <= 5%}
            {%set end = totalPage %}
        {%elif currentPage + 2 <= 5%}
            {%set end = 5 %}
        {%elif currentPage + 2 > totalPage%}
            {%set end = totalPage %}
        {%else%}
            {%set end = currentPage + 2 %}
        {%endif%}

        {%if end - 5 <= 0%}
            {%set start = 1%}
        {%else%}
            {%set start = end - 4%}
        {%endif%}
        {%for i in range(start, end + 1)%}
            {%if currentPage == i%}<li class="active">{%else%}<li >{%endif%}
            <a href="{{url | replace('^^', i)}}">{{i}}</a></li>
        {%endfor%}
        {%if totalPage == 1 %}<li class="disabled">{%else%}<li>{%endif%}
            <a href="{{url | replace('^^', totalPage)}}" aria-label="Next">
                <span aria-hidden="true">末页</span>
            </a>
        </li>
    </ul>
</nav>
{% endmacro %}