<div class="self-introduce  divider-left-lg" >
    <div class="divider-bottom">
        <h4>
            个人简介
        </h4>
        <p>
            周万里, 1990年出生。毕业于合肥工业大学, 目前就从事跨境电商工作。一枚编程狂热分子。做过一段时间企业级应用,玩过几年大数据. 现在热衷于微服务架构方面知识。过想了解更过站主动态可以关注本人的微博或者github。
        </p>
    </div>
    <div class="contact-way">
        <span>联系途径</span>
        <a href="#" target="_blank"><i class="icon-wechat" ></i> </a>
        <a href="http://weibo.com/moheqionglin" target="_blank"> <i class="icon-weibo"></i> </a>
        <a href="https://github.com/moheqionglin" target="_blank"><i class="icon-github-squared"></i></a>
    </div>
</div>