<div class="self-introduce  divider-left-lg" >
    <div class="divider-bottom">
        <h4>
            个人简介
        </h4>
        <p>周万里, 1990年出生。毕业于合肥工业大学。</p>
        <p>    做过一段时间企业级应用, 玩过几年大数据. 目前就从事跨境电商项目。 热衷于高可用微服务架构, 消息中间件, 全文索引, AWS方面知识。</p>
        <p>你想跟我交流吗？你想跟我辩论吗？你想给我指出错误吗？你想吐槽或者骂墨荷琼林出出气吗？</p>
        <p>来这里吧。如果想了解更过站主动态可以关注本人的微博或者github。</p>

    </div>
    <div class="contact-way">
        <span>联系途径</span>
        <a href="#" target="_blank"><i class="icon-wechat" ></i> </a>
        <a href="http://weibo.com/moheqionglin" target="_blank"> <i class="icon-weibo"></i> </a>
        <a href="https://github.com/moheqionglin" target="_blank"><i class="icon-github-squared"></i></a>
    </div>
</div>