<div class="mohe-tree-ui">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button class="btn btn-default" ng-click="expandAll()"><span class="glyphicon glyphicon-collapse-down"></span>折叠全部 </button>
        </div>
        <div class="btn-group" role="group">
            <button class="btn btn-default" ng-click="collapseAll()"><span class="glyphicon glyphicon-collapse-up"></span>展开全部 </button>
        </div>
    </div>
    <script type="text/ng-template" id="nodes_renderer.html">
        <div ui-tree-handle>
            <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag="" ng-click="toggle(this)">
                <span class="glyphicon glyphicon-chevron-down" ng-class="{'glyphicon-chevron-right': collapsed,'glyphicon-chevron-down': !collapsed}"></span>
            </a>
            {{node.title}}
            <a class="pull-right btn btn-danger btn-xs" data-nodrag="" ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
            <a class="pull-right btn btn-primary btn-xs" data-nodrag="" ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
        <ol ui-tree-nodes="" ng-class="{hidden: collapsed}" class="ng-pristine ng-untouched ng-valid angular-ui-tree-nodes" ng-model="node.nodes">
            <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
        </ol>
    </script>
    <div ui-tree class="angular-ui-tree"  data-max-depth="3">

        <ol ui-tree-nodes="" ng-class="{hidden: collapsed}" class="ng-pristine ng-untouched ng-valid angular-ui-tree-nodes" ng-model="data" id="tree-root">
            <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
        </ol>
    </div>
</div>
