<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <!-- IE 兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="墨荷琼林官网,是一个学习IT知识,分享IT知识的平台。"/>
    <meta name="keywords" content="moheqionglin,墨荷琼林,墨荷琼林官网,学习IT知识,分享IT知识,平台,moheqionglin官网,墨荷琼林万里,墨荷琼林周万里,墨荷 琼林"/>
    <meta name="author" content="">
    <!-- 国产浏览器高速模式 -->
    <meta name="renderer" content="webkit">
    <link rel="icon" href="/images/favicon.ico">

    <title>墨荷琼林官网-墨荷问答</title>
    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/bower_components/bootstrap-offcanvas/dist/css/bootstrap.offcanvas.min.css"/>
    <!-- Custom styles for this template -->
    <link href="/stylesheets/main.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/javascripts/bootstrap/vender/html5shiv.min.js"></script>
    <script src="/javascripts/bootstrap/vender/respond.min.js"></script>
    <![endif]-->
</head>
<body >
{% import '../common/_header.html' as headerNav%}
{% import "../common/_pagination.html" as pagationTool%}
{% import '../common/_breadCrumb.html' as breadCrumb%}
{{headerNav.headerNav('answer', authUser)}}
<div class="container question-answer-detail-page" >
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            {%set breadcrumbData = [{title: '墨荷问答', url:'/site/answer/1/forum.html'},
            {title: topic.forumTitle, url:'/site/answer/' + topic.forumId + '/1/topic-list.html'},
            {title: topic.title}]%}
            {{breadCrumb.breadcrumb(breadcrumbData)}}
            {%if topic.collectionId%}
                <div class="text-right">
                    <a href="/site/topic/source/{{topic.collectionId}}" class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-left"></span> 问题来源
                    </a>
                </div>
            {%endif%}
            {% include '../common/_comment_item.html'%}
            <div class="article-comment text-center">
                <form action="/site/create/topic/{{topic.id}}/comment" method="post" onsubmit="return submitTopicComment(this)">
                    <label class="label-title">评论内容*(最长1000个字符)</label>
                    <textarea name="content"></textarea>
                    <button class="btn btn-default" type="submit"><i class="icon-reply-outline"></i> 回复评论</button>
                </form>
            </div>
            <div class="row">
                <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    {{ pagationTool.pagation('/site/answer/' + topic.id + '/^^/detail.html' , topic.commentLists.totalPage, topic.commentLists.currentPage)}}
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            {% include "../common/_right_side_self_introduce.html" %}
        </div>
    </div>
</div>
{% include '../footer/_footer.html'%}
<!--待删除-->
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap-offcanvas/dist/js/bootstrap.offcanvas.js"></script>
<script src="/bower_components/bootstrap/js/dropdown.js"></script>
<script>
    function submitTopicComment(_this){

        var contentNode = $(_this).find('textarea');
        if(!contentNode.val() || contentNode.val().length > 1024){
            return false;
        }
    }
</script>
</body>
</html>